<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-lg-12 col-xl-11">   
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 10px;margin-bottom: 10px ;border-radius: 20px; ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                          <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="../home.html">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link " href="../entrada.html">Chat</a>
                            <a class="nav-item nav-link btn-danger " href="../">Salir</a>
                        
                          </div>
                        </div>
                      </nav>
                </div>
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px; min-height: 500px; padding: 15px;">
                        
                            <h1 class="display-6" sty>Bienvenid@, {{ user }}!</h1>
                        

                        <p class="lead">Estás en la pagina principal.</p>
                        <hr class="my-4">
                        <p style="justify-content: center;">Este es un chat en línea en tiempo real, donde los pensamientos fluyen libremente, tejiendo una tela de conversaciones. Las mentes chocan, intercambiando ideas a través de reinos digitales. Las palabras bailan en las pantallas, conectando almas desde rincones distantes. Las emociones pulsan a través de las pulsaciones de teclas, formando vínculos más allá de las fronteras. El silencio sostiene la anticipación, esperando la próxima revelación. Aquí, el anonimato fomenta la honestidad, donde las máscaras caen. La curiosidad alimenta la exploración, revelando mundos dentro de las palabras. El tiempo se dobla a medida que las discusiones trascienden, resonando a través del ciberespacio. Cada mensaje es una pincelada, pintando un retrato de la conciencia colectiva. Bienvenido al nexo de la comunicación, donde cada palabra da forma a nuestra realidad compartida.</p>
                        

                     

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
